<div class="loading" ng-show="showSpinner">
    <h1>Loading...</h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th><a href="" ng-click="sortColumn = 'animalName'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortColumn == 'animalName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortColumn == 'animalName' && sortReverse" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="sortColumn = 'animalBreed'; sortReverse = !sortReverse">
            Breed
            <span ng-show="sortColumn == 'animalBreed' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortColumn == 'animalBreed' && sortReverse" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="sortColumn = 'animalColor'; sortReverse = !sortReverse">
            Color
            <span ng-show="sortColumn == 'animalColor' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortColumn == 'animalColor' && sortReverse" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="sortColumn = 'animalSex'; sortReverse = !sortReverse">
            Gender
            <span ng-show="sortColumn == 'animalSex' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortColumn == 'animalSex' && sortReverse" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="sortColumn = 'locationName'; sortReverse = !sortReverse">
            Room
            <span ng-show="sortColumn == 'locationName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortColumn == 'locationName' && sortReverse" class="fa fa-caret-up"></span>
        </a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="cat in cats|orderBy:sortColumn:sortReverse|filter: catFilter">
        <td><a ui-sref="showCat({catId:cat.animalID})"><img ng-src="{{cat.animalPictures[0].urlInsecureThumbnail}}"
                                                            style="cursor: pointer; max-width:100px; max-height:100px"
                                                            class="img-rounded"></a></td>
        <td><a ui-sref="showCat({catId:cat.animalID})">{{cat.animalName}}</a></td>
        <td>{{cat.animalBreed}}</td>
        <td>{{cat.animalColor}}</td>
        <td>{{cat.animalSex}}</td>
        <td>{{cat.locationName}}</td>
    </tr>
    </tbody>
</table>
