<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.ninelivesfoundation.org/">
                <img src="nl-logo-sm.png" alt="Nine Lives Foundation">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <form name="login" role="form">
        <h2>Log into Rescue Groups</h2>

        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" placeholder="Name" ng-model="username" required
                   autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password"
                   required>
        </div>
        <a href="#/" class="btn btn-default">Cancel</a>
        <button ng-click="doLogin()" class="btn btn-default btn-primary" ng-disabled="isLoggingIn" js-spinner="isLoggingIn">Log In
        </button>
    </form>

</div>
